// clang-format off

// Convenience macro to help define ocasionnal dead-key -> shifted-key mappings.
// Mostly a legacy feature for layouts who didn’t have the proper aliases yet.
#define DEAD_KEY_SHIFT(name, key) OMIT_IF_NO_REF name: name { \
  compatible = "zmk,behavior-macro-one-param";                \
  #binding-cells = <1>;                                       \
  tap-ms = <0>;                                               \
  wait-ms = <0>;                                              \
  bindings                                                    \
    = <&macro_tap &kp key>                                    \
    , <&macro_press &kp LSHIFT>                               \
    , <&macro_tap &macro_param_1to1 &kp MACRO_PLACEHOLDER>    \
    , <&macro_release &kp LSHIFT>                             \
    ;                                                         \
};

// Define a two-level key (e.g. punctuation key)
#define TWO_LEVEL_KEY(name, base, shift) OMIT_IF_NO_REF name: name { \
  compatible = "zmk,behavior-mod-morph";                             \
  #binding-cells = <0>;                                              \
  bindings = <base>, <shift>;                                        \
  mods = <MOD_LSFT>;                                                 \
};

#define THREE_LEVEL_KEY(name, base, left_shift, right_shift) \
  OMIT_IF_NO_REF name: name {                                \
    compatible = "zmk,behavior-mod-morph";                   \
    #binding-cells = <0>;                                    \
    bindings = <&name##_right>, <left_shift>;                \
    mods = <MOD_LSFT>;                                       \
  };                                                         \
  OMIT_IF_NO_REF name##_right: name##_right {                \
    compatible = "zmk,behavior-mod-morph";                   \
    #binding-cells = <0>;                                    \
    bindings = <base>, <right_shift>;                        \
    mods = <MOD_RSFT>;                                       \
  };

&caps_word {
  no-default-keys;
  shift-list = <CAPS_WORD_SHIFT_LIST>;
  continue-list = <
    CAPS_WORD_CONTINUE_LIST
    CAPS_WORD_NUMBERS
    DELETE
    BACKSPACE
  >;
  mods = <MOD_RSFT>;  // caps-word uses right shift in case we want to
                      // differentiate it from regular shift
};

/ {
  behaviors {
    TWO_LEVEL_KEY(bt_sel1_clr, &bt BT_SEL 1, &bt BT_CLR)
  };

  macros {

    OMIT_IF_NO_REF digraph: digraph {
      compatible = "zmk,behavior-macro-two-param";
      #binding-cells = <2>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings
        = <&macro_param_1to1 &kp MACRO_PLACEHOLDER>
        , <&macro_param_2to1 &kp MACRO_PLACEHOLDER>
        ;
    };

    OMIT_IF_NO_REF ellipsis: ellipsis {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_tap S_DOT S_DOT S_DOT>;
    };

    OMIT_IF_NO_REF caps: caps {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      #ifdef MACOS
      tap-ms = <120>;  // macOS ignores quick CapsLock presses (CapsLockDelay)
      wait-ms = <40>;
      #else
      tap-ms = <0>;
      wait-ms = <0>;
      #endif
      bindings
        = <&kp CAPS>
        , <&macro_param_1to1 &kp MACRO_PLACEHOLDER>
        , <&kp CAPS>
        ;
    };

  };
};

// Windows Alt-Code Inputs
// There are three kinds of Alt-Codes:
//  - Alt+[128-255]   = Code Page 437 (IBM/DOS)
//  - Alt+[0128-0255] = Code Page 1252 (close to Latin-1)
//  - Alt+[UTF8 dec.] = Unicode, but only works with MS Office
// We use only CP1252. Full list: https://altcodeunicode.com/

#ifdef ENABLE_CP1252_ALT_CODES
/ {
  macros {

    alt01xx: alt01xx {
      compatible = "zmk,behavior-macro-two-param";
      #binding-cells = <2>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings
        = <&macro_press &kp LALT>
        , <&macro_tap &kp KP_N0 &kp KP_N1>
        , <&macro_param_1to1 &kp MACRO_PLACEHOLDER>
        , <&macro_param_2to1 &kp MACRO_PLACEHOLDER>
        , <&macro_release &kp LALT>
        ;
    };

    alt02xx: alt02xx {
      compatible = "zmk,behavior-macro-two-param";
      #binding-cells = <2>;
      tap-ms = <0>;
      wait-ms = <0>;
      bindings
        = <&macro_press &kp LALT>
        , <&macro_tap &kp KP_N0 &kp KP_N2>
        , <&macro_param_1to1 &kp MACRO_PLACEHOLDER>
        , <&macro_param_2to1 &kp MACRO_PLACEHOLDER>
        , <&macro_release &kp LALT>
        ;
    };

  };
};

#define CP1252_LOWERCASE_A_ACUTE   &alt02xx KP_N2 KP_N5 // á
#define CP1252_UPPERCASE_A_ACUTE   &alt02xx KP_N0 KP_N1 // Á
#define CP1252_LOWERCASE_E_ACUTE   &alt02xx KP_N3 KP_N3 // é
#define CP1252_UPPERCASE_E_ACUTE   &alt02xx KP_N0 KP_N1 // É
#define CP1252_LOWERCASE_I_ACUTE   &alt02xx KP_N3 KP_N7 // í
#define CP1252_UPPERCASE_I_ACUTE   &alt02xx KP_N0 KP_N5 // Í
#define CP1252_LOWERCASE_O_ACUTE   &alt02xx KP_N4 KP_N3 // ó
#define CP1252_UPPERCASE_O_ACUTE   &alt02xx KP_N1 KP_N1 // Ó
#define CP1252_LOWERCASE_U_ACUTE   &alt02xx KP_N5 KP_N0 // ú
#define CP1252_UPPERCASE_U_ACUTE   &alt02xx KP_N1 KP_N8 // Ú
#define CP1252_LOWERCASE_Y_ACUTE   &alt02xx KP_N2 KP_N1 // ý
#define CP1252_UPPERCASE_Y_ACUTE   &alt02xx KP_N1 KP_N8 // Ý

#define CP1252_LOWERCASE_C_CEDILLA &alt02xx KP_N3 KP_N1 // ç
#define CP1252_UPPERCASE_C_CEDILLA &alt01xx KP_N9 KP_N9 // Ç

#define CP1252_LOWERCASE_A_GRAVE   &alt02xx KP_N2 KP_N4 // à
#define CP1252_UPPERCASE_A_GRAVE   &alt01xx KP_N9 KP_N2 // À
#define CP1252_LOWERCASE_E_GRAVE   &alt02xx KP_N3 KP_N2 // è
#define CP1252_UPPERCASE_E_GRAVE   &alt02xx KP_N0 KP_N0 // È
#define CP1252_LOWERCASE_I_GRAVE   &alt02xx KP_N3 KP_N6 // í
#define CP1252_UPPERCASE_I_GRAVE   &alt02xx KP_N0 KP_N4 // Í
#define CP1252_LOWERCASE_O_GRAVE   &alt02xx KP_N4 KP_N2 // ò
#define CP1252_UPPERCASE_O_GRAVE   &alt02xx KP_N1 KP_N0 // Ò
#define CP1252_LOWERCASE_U_GRAVE   &alt02xx KP_N4 KP_N9 // ù
#define CP1252_UPPERCASE_U_GRAVE   &alt02xx KP_N1 KP_N7 // Ù

#define CP1252_LOWERCASE_O_STROKE  &alt02xx KP_N4 KP_N8 // ø
#define CP1252_UPPERCASE_O_STROKE  &alt02xx KP_N1 KP_N6 // Ø

#define CP1252_LOWERCASE_S_CARON   &alt01xx KP_N5 KP_N4 // š
#define CP1252_UPPERCASE_S_CARON   &alt01xx KP_N3 KP_N8 // Š
#define CP1252_LOWERCASE_Z_CARON   &alt01xx KP_N5 KP_N8 // ž
#define CP1252_UPPERCASE_Z_CARON   &alt01xx KP_N4 KP_N2 // Ž

#define CP1252_LOWERCASE_A_TILDE   &alt02xx KP_N2 KP_N7 // ã
#define CP1252_UPPERCASE_A_TILDE   &alt01xx KP_N9 KP_N5 // Ã
#define CP1252_LOWERCASE_N_TILDE   &alt02xx KP_N4 KP_N1 // ñ
#define CP1252_UPPERCASE_N_TILDE   &alt02xx KP_N0 KP_N9 // Ñ
#define CP1252_LOWERCASE_O_TILDE   &alt02xx KP_N4 KP_N5 // õ
#define CP1252_UPPERCASE_O_TILDE   &alt02xx KP_N1 KP_N9 // Õ

#define CP1252_LOWERCASE_A_CIRCUMFLEX  &alt02xx KP_N2 KP_N6 // â
#define CP1252_UPPERCASE_A_CIRCUMFLEX  &alt01xx KP_N9 KP_N4 // Â
#define CP1252_LOWERCASE_E_CIRCUMFLEX  &alt02xx KP_N3 KP_N4 // ê
#define CP1252_UPPERCASE_E_CIRCUMFLEX  &alt02xx KP_N0 KP_N2 // Ê
#define CP1252_LOWERCASE_I_CIRCUMFLEX  &alt02xx KP_N3 KP_N8 // î
#define CP1252_UPPERCASE_I_CIRCUMFLEX  &alt02xx KP_N0 KP_N6 // Î
#define CP1252_LOWERCASE_O_CIRCUMFLEX  &alt02xx KP_N4 KP_N4 // ô
#define CP1252_UPPERCASE_O_CIRCUMFLEX  &alt02xx KP_N1 KP_N2 // Ô
#define CP1252_LOWERCASE_U_CIRCUMFLEX  &alt02xx KP_N5 KP_N1 // û
#define CP1252_UPPERCASE_U_CIRCUMFLEX  &alt02xx KP_N1 KP_N9 // Û

#define CP1252_LOWERCASE_A_DIAERESIS   &alt02xx KP_N2 KP_N8 // ä
#define CP1252_UPPERCASE_A_DIAERESIS   &alt01xx KP_N9 KP_N6 // Ä
#define CP1252_LOWERCASE_E_DIAERESIS   &alt02xx KP_N3 KP_N5 // ë
#define CP1252_UPPERCASE_E_DIAERESIS   &alt02xx KP_N0 KP_N3 // Ë
#define CP1252_LOWERCASE_I_DIAERESIS   &alt02xx KP_N3 KP_N9 // ï
#define CP1252_UPPERCASE_I_DIAERESIS   &alt02xx KP_N0 KP_N7 // Ï
#define CP1252_LOWERCASE_O_DIAERESIS   &alt02xx KP_N4 KP_N6 // ö
#define CP1252_UPPERCASE_O_DIAERESIS   &alt02xx KP_N1 KP_N4 // Ö
#define CP1252_LOWERCASE_U_DIAERESIS   &alt02xx KP_N5 KP_N2 // ü
#define CP1252_UPPERCASE_U_DIAERESIS   &alt02xx KP_N2 KP_N0 // Ü
#define CP1252_LOWERCASE_Y_DIAERESIS   &alt02xx KP_N5 KP_N5 // ÿ
#define CP1252_UPPERCASE_Y_DIAERESIS   &alt01xx KP_N5 KP_N9 // Ÿ

#define CP1252_LOWERCASE_OE        &alt01xx KP_N5 KP_N6 // œ
#define CP1252_UPPERCASE_OE        &alt01xx KP_N4 KP_N0 // Œ
#define CP1252_LOWERCASE_AE        &alt02xx KP_N3 KP_N0 // æ
#define CP1252_UPPERCASE_AE        &alt01xx KP_N9 KP_N8 // Æ
#define CP1252_LOWERCASE_ETH       &alt02xx KP_N4 KP_N0 // ð
#define CP1252_UPPERCASE_ETH       &alt02xx KP_N0 KP_N8 // Ð
#define CP1252_LOWERCASE_THORN     &alt02xx KP_N5 KP_N4 // þ
#define CP1252_UPPERCASE_THORN     &alt02xx KP_N2 KP_N2 // Þ
#define CP1252_LOWERCASE_SZ        &alt02xx KP_N2 KP_N3 // ß

#define CP1252_INVERTED_XMARK      &alt01xx KP_N6 KP_N1 // ¡
#define CP1252_INVERTED_QMARK      &alt01xx KP_N9 KP_N1 // ¿
#define CP1252_FEMININE_ORDINAL    &alt01xx KP_N7 KP_N0 // ª
#define CP1252_MASCULINE_ORDINAL   &alt01xx KP_N8 KP_N6 // º

#define CP1252_LEFT_GUILLEMET      &alt01xx KP_N7 KP_N1 // «
#define CP1252_RIGHT_GUILLEMET     &alt01xx KP_N8 KP_N7 // »
#define CP1252_LOW_SINGLE_QUOTE    &alt01xx KP_N3 KP_N0 // ‚
#define CP1252_LEFT_SINGLE_QUOTE   &alt01xx KP_N4 KP_N5 // ‘
#define CP1252_RIGHT_SINGLE_QUOTE  &alt01xx KP_N4 KP_N6 // ’
#define CP1252_LOW_DOUBLE_QUOTE    &alt01xx KP_N3 KP_N2 // „
#define CP1252_LEFT_DOUBLE_QUOTE   &alt01xx KP_N4 KP_N7 // “
#define CP1252_RIGHT_DOUBLE_QUOTE  &alt01xx KP_N4 KP_N8 // ”
#define CP1252_EN_DASH             &alt01xx KP_N5 KP_N0 // –
#define CP1252_EM_DASH             &alt01xx KP_N5 KP_N1 // —
#define CP1252_ELLIPSIS            &alt01xx KP_N3 KP_N3 // …
#define CP1252_MIDDLE_DOT          &alt01xx KP_N8 KP_N3 // ·
#define CP1252_BULLET              &alt01xx KP_N4 KP_N9 // •
#define CP1252_SECTION             &alt01xx KP_N6 KP_N7 // §
#define CP1252_PARAGRAPH           &alt01xx KP_N8 KP_N2 // ¶
#define CP1252_NO_BREAK_SPACE      &alt01xx KP_N6 KP_N0

#define CP1252_NOT                 &alt01xx KP_N7 KP_N2 // ¬
#define CP1252_DEGREE              &alt01xx KP_N7 KP_N6 // °
#define CP1252_BROKEN_BAR          &alt01xx KP_N6 KP_N6 // ¦
#define CP1252_DIVISION            &alt02xx KP_N4 KP_N7 // ÷
#define CP1252_MULTIPLICATION      &alt02xx KP_N1 KP_N5 // ×
#define CP1252_PLUS_MINUS          &alt01xx KP_N7 KP_N7 // ±
#define CP1252_SUPERSCRIPT_ONE     &alt01xx KP_N8 KP_N5 // ¹
#define CP1252_SUPERSCRIPT_TWO     &alt01xx KP_N7 KP_N8 // ²
#define CP1252_SUPERSCRIPT_THREE   &alt01xx KP_N7 KP_N9 // ³
#define CP1252_ONE_QUARTER         &alt01xx KP_N8 KP_N8 // ¼
#define CP1252_ONE_HALF            &alt01xx KP_N8 KP_N9 // ½
#define CP1252_THREE_QUARTERS      &alt01xx KP_N9 KP_N0 // ¾
#define CP1252_MICRO               &alt01xx KP_N8 KP_N1 // µ

#define CP1252_EURO                &alt01xx KP_N2 KP_N8 // €
#define CP1252_CENT                &alt01xx KP_N6 KP_N2 // ¢
#define CP1252_POUND               &alt01xx KP_N6 KP_N3 // £
#define CP1252_CURRENCY            &alt01xx KP_N6 KP_N4 // ¤
#define CP1252_YEN                 &alt01xx KP_N6 KP_N5 // ¥
#define CP1252_COPYRIGHT           &alt01xx KP_N6 KP_N9 // ©
#define CP1252_REGISTERED          &alt01xx KP_N7 KP_N4 // ®
#define CP1252_TRADEMARK           &alt01xx KP_N5 KP_N3 // ™

#endif
